# Environment variables
.env

# Storage directories
**/storage/
**/data/

# Node modules
**/node_modules/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log 