Flask==2.2.5
requests>=2.30.0,<3.0.0
python-dotenv==0.19.0
SQLAlchemy==2.0.23
# psycopg2-binary==2.9.9  # Removed - using SQLite instead of PostgreSQL
Pillow==10.1.0
pytesseract==0.3.10
pdf2image==1.16.3
python-docx==0.8.11
pdfminer.six==20221105
python-pptx==0.6.21
gunicorn==20.1.0
Flask-SQLAlchemy==3.1.1
